<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Przepisy według kategorii</title>

  <div th:replace="~{fragments :: css-style}"></div>

</head>
<body>
<div class="content">
  <h3 th:text="${category.getDisplayName()}"></h3>
  <p th:text="${category.getDescription()}"></p>
  <img th:src="${category.img}">

  <ul style="margin-top: 20px" class="list-group">
    <li class="list-group-item" th:each="recipe: ${recipeList}">
      <a th:href="@{|/potrawa/${recipe.id}|}" th:text="${recipe.name}"></a>
    </li>
  </ul>

  <div th:replace="fragments :: footer"></div>

</div>

</body>
</html>