<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragmenty</title>
</head>
<body>

<div th:fragment="css-style">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</div>

<div style="background: lightblue; margin-top: 10px; text-align: center; width: 100%; height: 300px" th:fragment="header">
    <h1>Książka kucharska</h1>
    <img style="max-width: 400px; width: 100%; height: 200px" src="/glowny.jpg">
</div>

<div style="margin-top: 50px" th:fragment="footer">
    <a href="/">Powrót na stronę główną</a>
</div>

</body>
</html>