<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Książka kucharska</title>

    <div th:replace="fragments :: css-style"></div>

</head>
<body>
<div class="content">
    <div th:replace="fragments :: header"></div>

    <h3 style="text-align: center">Co chcesz zrobić: </h3>

    <div class="d-grid gap-2 col-10 mx-auto">
        <a class="btn btn-primary" href="/all" role="button">Wyświetl wszystkie przepisy</a>
    </div>

    <div class="paragraph">
        <h4>Wyświetl przepisy według kategorii:</h4>
        <a class="btn btn-primary" href="/?category=CAKE" role="button">Ciasta</a>
        <a class="btn btn-primary" href="/?category=DINNER" role="button">Dania główne</a>
        <a class="btn btn-primary" href="/?category=SALAD" role="button">Sałatki</a>
    </div>

    <div class="paragraph">
        <ul class="list-group">
            <li class="list-group-item" th:each="recipe: ${recipeList}">
                <a th:href="|/potrawa/${recipe.id}|" th:text="|${recipe.category.getDisplayName()}  -  ${recipe.name}|"></a>

            </li>
        </ul>

        <div th:replace="fragments :: footer"></div>
    </div>
</div>
</body>
</html>